:root {
  --body-background-color: #fefefe;
  --body-text-color: #212529;
  --nav-text-color: #fefefe;
  --nav-background-color: #36589c;
  --nav-border-bottom-color: ##294275;
  --nav-current-border-bottom-color: #fefefe;
  --error-button-border-color: #294275;
  --error-button-background-color: #36589c;
  --error-button-color: #fefefe;
  --submit-button-border-color: #294275;
  --submit-button-background-color: #36589c;
  --submit-button-color: #fefefe;
}
